.table {
	width: 100%;
	font-size: 12px;
}

.table .glyphicon {
	float: right;
	line-height: 14px;
}

.table tbody {
	position: relative;
	height: 200px;
	overflow: auto;
}

/* CSS check user */
.header ul {
	float: right;
	padding-top: 40px;
}

.header li {
	display: inline-block;
	padding-right: 20px;
}

.header div {
	border: 1px solid #ddd;
	height: 110px;
}

.row-info {
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
}

.row-info:last-child {
	border-bottom: none;
}

.row-info p {
	margin: 10px 0;
}

/* Form addUser */
.form-horizontal .control-label {
	text-align: left;
}

.no-padding {
	padding-left: 0;
}

.inputfile {
	padding-top: 10px;
}